In [15]:
#https://stackoverflow.com/questions/25865270/how-to-install-python-mysqldb-module-using-pip
!pip3 install SQLAlchemy
!pip3 install PyMySQL
!pip3 install mysql-connector
!pip3 install mysqlclient

Requirement already satisfied: SQLAlchemy in /Users/data/Library/Python/3.7/lib/python/site-packages (1.3.10)
Requirement already satisfied: PyMySQL in /Users/data/Library/Python/3.7/lib/python/site-packages (0.9.3)
Requirement already satisfied: mysql-connector in /Users/data/Library/Python/3.7/lib/python/site-packages (2.2.9)
Requirement already satisfied: mysqlclient in /Users/data/Library/Python/3.7/lib/python/site-packages (1.4.4)

In [2]:
import pandas as pd
import sqlalchemy as db
import getpass

In [3]:
password=getpass.getpass('Introduce tu pass SQL... ')
engine=db.create_engine('mysql+pymysql://root:{}@localhost/publications'.format(password))
print ('Conectado al servidor SQL.')

Introduce tu pass SQL... ········
Conectado al servidor SQL.

In [4]:
query='''
select group_concat(t.title) as titles, t.year
from 
(select title, year(max(pubdate)) as "year",
count(titleauthor.title_id) as numauthors,
group_concat(concat(authors.au_fname, " ", authors.au_lname)) as authors
from titles
left join titleauthor
on titles.title_id=titleauthor.title_id
left join authors
on authors.au_id=titleauthor.au_id
group by titles.title
order by numauthors desc) as t
group by t.year;
'''

In [5]:
df=pd.read_sql_query(query, engine)
df

                                              titles  year
0  Is Anger the Enemy?,Straight Talk About Comput...  1991
1                          Secrets of Silicon Valley  1994
2   Net Etiquette,The Psychology of Computer Cooking  2014

In [6]:
a=df.titles[0]
a.split(',')

['Is Anger the Enemy?',
 'Straight Talk About Computers',
 "The Busy Executive's Database Guide",
 'Life Without Fear',
 'The Gourmet Microwave',
 'Prolonged Data Deprivation: Four Case Studies',
 'But Is It User Friendly?',
 'Sushi',
 ' Anyone?',
 'You Can Combat Computer Stress!',
 'Onions',
 ' Leeks',
 ' and Garlic: Cooking Secrets of the Mediterranean',
 'Computer Phobic AND Non-Phobic Individuals: Behavior Variations',
 'Emotional Security: A New Algorithm',
 'Cooking with Computers: Surreptitious Balance Sheets',
 'Silicon Valley Gastronomic Treats',
 'Fifty Years in Buckingham Palace Kitchens']

In [7]:
df['titles']

0    Is Anger the Enemy?,Straight Talk About Comput...
1                            Secrets of Silicon Valley
2     Net Etiquette,The Psychology of Computer Cooking
Name: titles, dtype: object

In [8]:
%%time
pd.read_sql_query('select * from publications.employee', engine)['job_id'].sum()

CPU times: user 6.2 ms, sys: 1.81 ms, total: 8.01 ms
Wall time: 6.61 ms

365

In [9]:
%%time
pd.read_sql_query('select sum(job_id) as j from publications.employee', engine)['j'][0]

CPU times: user 2.09 ms, sys: 1.5 ms, total: 3.59 ms
Wall time: 2.25 ms

365.0

In [10]:
import MySQLdb as mdb      # base de datos, conexion mysql


db_host='localhost'         #host
db_user='root'              #usuario
db_pass='password'          #password
db_name='Apps'              #nombre de la base de datos
con=mdb.connect(host=db_host, user=db_user, passwd=db_pass, db=db_name, autocommit=True, use_unicode=True, charset="utf8") #conecta con la base de datos
print ('Conectado.')
cur=con.cursor()            # cursor sql, para ejecutar comandos 


tabla ="""DROP TABLE IF EXISTS Ratings; 
          CREATE TABLE Ratings (
          id int,                        
          track_name varchar(255),    
          size_bytes bigint, 
          price float, 
          rating_count_tot float, 
          rating_count_ver float, 
          user_rating float, 
          user_rating_ver float, 
          prime_genre varchar(50))""" # se crea la tabla
          
          
cur.execute(tabla)
print ('Tabla creada.')

Conectado.
Tabla creada.

In [11]:
from sqlalchemy import create_engine   # conexion mysql      
import pandas as pd                    # dataframe




datos=pd.read_csv('data/apple_store.csv')              # se leen los datos del archivo csv
print ('Datos leidos.')
#print (datos)

motor=create_engine('mysql+mysqlconnector://root:password@localhost:3306/Apps')   # motor de enlace

datos.to_sql(name='Ratings', con=motor, if_exists='append', index=False)           # datos a sql
print ('Datos copiados a SQL.')

Datos leidos.
Datos copiados a SQL.

In [12]:

from sqlalchemy import create_engine    # conexion mysql  
import pandas as pd                     # dataframe


motor=create_engine('mysql+mysqlconnector://root:password@localhost:3306/Apps')   # motor de enlace

cnx=motor.raw_connection()     # conexion

datos2=pd.read_sql('SELECT * FROM Ratings', cnx) # selecciona datos desde mysql

print ('Datos leidos desde MySQL.')

display (datos2)

Datos leidos desde MySQL.

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292.0,26.0,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065.0,26.0,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583.0,2822.0,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241.0,649.0,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920.0,5320.0,4.5,5.0,Reference
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142.0,75.0,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30.0,30.0,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15.0,0.0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85.0,32.0,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3.0,3.0,5.0,5.0,Games

In [13]:
datos

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games